<!DOCTYPE html>
  <html lang="en" ng-app="App">
    <head>
      <title>Hotspot</title>
      <script type="text/javascript" src="js/angular.js"></script>
      <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnc-ecKkfdUuBVPJjkKjVqRUPIwKm3diw">
      </script>
      <link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap.min.css">      
      <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>
    <body ng-controller="hotspotController">

      <div class="page-header ">     

          <div class="col-md-3">
            <h1 class="logo"><span class="glyphicon glyphicon-map-marker">HotSpot</span></h1> 
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <form class="main-search border-less-inputs navbar-form navbar-right" role="form" method="post">
              <div class="input-row">
                <div class="form-group">
                  <div class="input-group location">
                    <input type="text" class="form-control" id="location" placeholder="Enter Location" ng-model="query" ng-keyup="searchHotels(query,$event)">
                    <span class="input-group-addon submitBtn"><i class="glyphicon glyphicon-search"></i></span>
                  </div>
                </div>
              </div>
            </form>                        
          </div>

        <div class="col-md-1"></div> 
     


      </div> <!-- End Page header-->
        <section class="col-md-12"> 
          <article class="search-result row">
            <div class="col-md-3 panel hotelList">
              <div class="navbar-static-top resultsLabel" style="text-align:center">
                <h2>Hotels in {{query}}<h2>
              </div>
              <div class="panel panel-default" ng-repeat="hotel in retreivedInfo"> <!-- ngRepeat goes here -->
                <div class="panel-heading">
                  <h4 class="panel-title">{{hotel.venue.name}}</h4>
                </div>
                <div class="panel-body">
                    <div class="list-group-item results row">
                      <div class="col-md-5" >
                        <img ng-src="{{'images/icon1.png'}}" alt="{{hotel.name}}" />
                      </div>
                      <div class="col-md-7">                    
                        <ul class="meta-search">
                          <li><span>{{hotel.venue.location.address}}</span></li>
                        </ul>

                        <button type="search" class="btn btn-success" ng-click="updateLatLng(hotel.venue.location.lat,hotel.venue.location.lng, hotel.name)"> View Location</button>                              
                      </div>
                    </div>
                </div>
              </div> 
            </div>
    
            <div class="col-md-9" id="map-canvas">
            <!-- gMap goes here -->
            </div>

          </article>
        </section>
        <footer>
            <div class="container">
              <div class="row"> 
                <p>AngularJS project.Andela2015</p>
              </div>
            </div>
        </footer>
 
    

      <script type="text/javascript" src="js/controller.js"></script>
      <script type="text/javascript" src="js/services.js"></script>
    </body>

  </html>